html, body{
  background-color: #ffffff;
}


.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}
.navbar-toggle {
    z-index:3;
}

a {
  cursor: pointer;
}

.showDeleteActive{
  color: #FF0000;
  font-weight: bold;
}

.deleteNode{
  cursor: pointer;
}
